header {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    padding-top: 25vh;
    position: relative;
    height: 80vh;
    text-align: center;
    color: white;
  }

  .imghome{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
  }

  header::before {
    content: "";
    background-image: url('https://www.consumer.es/app/uploads/fly-images/102638/img_perros-depresion1-1-1200x550-cc.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(3px); /* Ajusta el valor de desenfoque según tus preferencias */
    z-index: -1;
  }


.logo {
    width: 200px;
    border-radius: 500px;

    border: 2px solid #ffc107; }

/* ------NAV BAR -----*/

nav {
    background-color: rgb(223, 120, 24);
    display: flex;
    align-items: center;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    margin-right: 10px;
  }

  nav li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
  }

  nav li a:hover {
    background-color: rgb(161, 86, 16);
  }


/* -----FIN NAVBAR -----*/



/* -----INICIO NOTICIA -----*/



/* -----FIN NOTICIA -----*/

 

/* -----FOOTER ---- */

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  background-color: rgb(223, 120, 24);
  color: white;
  padding: 20px 0;
}

.footer .container {
  text-align: center;
}
/* ---- FOOTER ---- */

/*----PAGINA MODIFICAR------*/
  .icon:hover {
    color: #ff0000; /* Cambia el color al pasar el cursor por encima */
  }

  .icon-small {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 16px;
  }

  .search-icon {
    display: inline-block;
    font-family: "Font Awesome", sans-serif; /* Asegúrate de tener Font Awesome cargado */
    font-size: 24px;
    color: #000000;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
  }
  .search-icon a:hover {
    background-color: rgb(161, 86, 16);
  }



  #search-bar {
    display: none;
    background-color: rgb(223, 120, 24);
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  #search-bar input[type="text"] {
    width: 200px;
    padding: 6px;
    border: none;
  }

  #search-bar button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .container {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .cell {
    display: table-cell;
    vertical-align: middle;
  }

  .content {
    margin: 0 auto; /* Para centrar horizontalmente */
    background-color: white; /* Color de fondo blanco */
    color: orange; /* Color del texto naranja */
    /* Añade otros estilos si lo necesitas */
  }

  /* Estilos adicionales para asegurarse de que los colores se apliquen correctamente */
  body {
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border: 3px solid rgb(206, 134, 0);
  }

  th{
    background-color: orange; /* Color de fondo blanco */
    color: white; /* Color del texto naranja */
    padding: 10px;
    border: 3px solid rgb(206, 134, 0);
  }
  td{
    border: 2px solid orange;
  }

  .central {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Op
    margin: 0 auto;
    width: 50%; /* Puedes ajustar el ancho según tus necesidades */
  }

  .formlogin {
    width: 300px; /* Puedes ajustar el ancho según tus necesidades */
  }

  .logocentral{
    margin-right: 35px;
    width: 250px;
  }

  .formboton {
    background-color: rgb(233, 151, 0);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .formboton:hover {
    background-color: rgb(172, 94, 0);
    color: rgb(221, 221, 221);
  }
  
  .containerdonaciones {
    display: table;
    width: 90%;
    text-align: center;
    background-image: url("https://imgmedia.wapa.pe/600x275/wapa/original/2021/12/29/61cc89f04209f1270a4d1d1e.webp");
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center ;
    margin-right: 30px;
    margin-left: 30px;
    margin: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 35px;
    color: #ffffff;
    border: solid 2px rgb(24, 148, 34);
    border-radius: 20px;

  }
  .imgdonacion{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
    border-radius: 400px;
  }

  .textdonacion {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    text-decoration: none;
  }
