header {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    padding-top: 25vh;
    position: relative;
    height: 80vh;
    text-align: center;
    color: white;
  }

  header::before {
    content: "";
    background-image: url('https://www.consumer.es/app/uploads/fly-images/102638/img_perros-depresion1-1-1200x550-cc.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(3px); /* Ajusta el valor de desenfoque según tus preferencias */
    z-index: -1;
  }


.logo {
    width: 200px;
    border-radius: 500px;

<<<<<<< HEAD
    border: 2px solid #ffc107; }
=======
header {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    padding-top: 25vh;
    position: relative;
    height: 80vh;
    text-align: center;
    color: white;
  }
  
  header::before {
    content: "";
    background-image: url('https://www.consumer.es/app/uploads/fly-images/102638/img_perros-depresion1-1-1200x550-cc.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(3px); /* Ajusta el valor de desenfoque según tus preferencias */
    z-index: -1;
  }
  
  
    .logo {
        
        border: 2px solid #ffc107;
        border-radius: 50%;
        max-width: 150px;
        
    }


/* ------FIN HEADER------ */
>>>>>>> e57434955d4a75a9f23c4a6a26a9b3f4868a4765

/* ------NAV BAR -----*/

nav {
    background-color: rgb(223, 120, 24);
    display: flex;
    align-items: center;
  }
<<<<<<< HEAD

=======
  
>>>>>>> e57434955d4a75a9f23c4a6a26a9b3f4868a4765
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
<<<<<<< HEAD

  nav li {
    margin-right: 10px;
  }

=======
  
  nav li {
    margin-right: 10px;
  }
  
>>>>>>> e57434955d4a75a9f23c4a6a26a9b3f4868a4765
  nav li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
  }
<<<<<<< HEAD

  nav li a:hover {
    background-color: rgb(161, 86, 16);
  }

=======
  
  nav li a:hover {
    background-color: rgb(161, 86, 16);
  }
  
>>>>>>> e57434955d4a75a9f23c4a6a26a9b3f4868a4765

/* -----FIN NAVBAR -----*/



/* -----INICIO NOTICIA -----*/



/* -----FIN NOTICIA -----*/

 

/* -----FOOTER ---- */

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  background-color: rgb(223, 120, 24);
  color: white;
  padding: 20px 0;
}

.footer .container {
  text-align: center;
}
/* ---- FOOTER ---- */

/*----PAGINA MODIFICAR------*/





  .icon:hover {
    color: #ff0000; /* Cambia el color al pasar el cursor por encima */
  }

  .icon-small {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 16px;
  }

  .search-icon {
    display: inline-block;
    font-family: "Font Awesome", sans-serif; /* Asegúrate de tener Font Awesome cargado */
    font-size: 24px;
    color: #000000;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
  }
  .search-icon a:hover {
    background-color: rgb(161, 86, 16);
  }



  #search-bar {
    display: none;
    background-color: rgb(223, 120, 24);
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  #search-bar input[type="text"] {
    width: 200px;
    padding: 6px;
    border: none;
  }

  #search-bar button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .container {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
  }

<<<<<<< HEAD
=======

  
  .icon:hover {
    color: #ff0000; /* Cambia el color al pasar el cursor por encima */
  }
  
  .icon-small {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 16px;
  }

  .search-icon {
    display: inline-block;
    font-family: "Font Awesome", sans-serif; /* Asegúrate de tener Font Awesome cargado */
    font-size: 24px;
    color: #000000;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
  }
  .search-icon a:hover {
    background-color: rgb(161, 86, 16);
  }
  
  
  
  #search-bar {
    display: none;
    background-color: rgb(223, 120, 24);
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
  #search-bar input[type="text"] {
    width: 200px;
    padding: 6px;
    border: none;
  }
  
  #search-bar button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  .container {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
  }

>>>>>>> e57434955d4a75a9f23c4a6a26a9b3f4868a4765
  .cell {
    display: table-cell;
    vertical-align: middle;
  }

  .content {
    margin: 0 auto; /* Para centrar horizontalmente */
    background-color: white; /* Color de fondo blanco */
    color: orange; /* Color del texto naranja */
    /* Añade otros estilos si lo necesitas */
  }

  /* Estilos adicionales para asegurarse de que los colores se apliquen correctamente */
  body {
    margin: 0;
    padding: 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border: 3px solid rgb(206, 134, 0);
  }

  th{
    background-color: orange; /* Color de fondo blanco */
    color: white; /* Color del texto naranja */
    padding: 10px;
    border: 3px solid rgb(206, 134, 0);
  }
  td{
    border: 2px solid orange;
<<<<<<< HEAD
  }
=======
  }

>>>>>>> e57434955d4a75a9f23c4a6a26a9b3f4868a4765
